img {
    max-width: 500px;
    height: 25vh;
    display: block;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }

  #Image-tag{
    width: 38%;
  }
  body.dark-mode img {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1) ;
    filter: grayscale(50%) brightness(1) opacity(0.8);
}