form {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    background: #B4D6CD;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(42, 79, 80, 0.625);
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    margin-bottom:1.5%;
   
  }
  form p {
    font-weight: normal;
    margin: 0.5%;
    color: #333;
  }
  .input-box {
    padding: 0.2%;
    margin-bottom: 1%;
    border: 2px solid #333;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    width: 25%;
    color: black;
    background-color: aliceblue;
  }
  input[list="Sortings"] {
    padding: 2px;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 14px;
    width: 40%;
    color: black;
    background-color: aliceblue;
  }
 
  #submit-container {
    display: flex;
    justify-content: flex-end;
    margin-left: 93%;
    position: relative;
  }

  h1{
    justify-content: center;
  }
  body.dark-mode form {
    background: #2A3335; 
    color: white;
    box-shadow: 0 4px 4px #5c7479; 
}

body.dark-mode form p {
    color: lightgray;
}

body.dark-mode .input-box, body.dark-mode input[list="Sortings"] {
    border: 2px solid #555; 
    background-color: #444; 
    color: white;
}

body.dark-mode h1 {
    color: white;
}